<!DOCTYPE html>
<html>

<head>
    <title>Minecraft Maze Schematic Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="container">
        <h1 class="title">Minecraft Maze Generator</h1>

        <div class="input-group">
            <label>Width:</label>
            <input type="number" class="input-field" id="width" min="5" max="50" value="20">
        </div>

        <div class="input-group">
            <label>Height:</label>
            <input type="number" class="input-field" id="height" min="5" max="50" value="20">
        </div>

        <div class="input-group">
            <label>Length:</label>
            <input type="number" class="input-field" id="length" min="5" max="50" value="20">
        </div>

        <button class="minecraft-button" id="generate" onclick="generateMaze()">Generate Maze</button>

        <div class="maze-container" id="mazeContainer">
            <img src="https://placehold.co/512x512" alt="Generated Maze" class="maze-image" id="mazeImage" width="256"
                height="256">
            <button class="minecraft-button" onclick="downloadMaze()">Download Maze</button>
        </div>
    </div> 

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>